*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;

}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main{
  width: 100%;

}
main section{
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-lg);
  
}
.btn{
  padding: var(--padding-sm) var(--padding-md);
  border: none;
  outline: none;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-active-color);
  cursor: pointer;
  color: var(--text-active-color);
 
}
main section .top{
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}

#reset-btn{
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}
#download-btn{
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
}

main section .left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-lg);
  width: 70%;
}

main section .right{
  width: 30%;
  background-color:var(--bg-secondary-color);
  border-radius: var(--border-radius-lg);
  padding: var(--padding-lg);
  
}
main section .top{
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}

main section .bottom{
  background-color: var(--bg-secondary-color);
  width: 100%;
  padding: var(--padding-2xl);
  aspect-ratio: 5/3;
  border-radius: var(--border-radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .bottom .placeholder
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .bottom .placeholder i{
  font-size: var(--font-size-5xl);
  
}

main section .right{
  display: flex;
  flex-direction: column;
  gap:var(--gutter-md);

}

main section .right .filter input{
  width: 100%;
  outline: none;
  margin: var(--margin-sm);
  appearance: none;
}

main section .right .filter input::-webkit-slider-thumb{
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
  margin-top: -8.5px;


}
main section .right .filter input::-webkit-slider-runnable-track{
  background-color: var(--bg-active-color);
  height: 3px;
  border-radius: 2px;

}

main section .right .filters{
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}

canvas{
  max-width: 90%;
  max-height: 80vh;
  display: none;
  
}






