:root {
  /* bg colors */
  --bg-primary-color: rgba(17, 17, 17);
  --bg-secondary-color: rgba(34, 34, 34);
  --bg-active-color: rgba(233, 233, 233);
  --bg-danger-color: rgba(200, 50, 50);
  --bg-success-color: rgb(50, 200, 50);

  /* Text colors */
  --text-primary-color: rgba(237, 237, 237);
  --text-secondary-color: rgba(200, 200, 200);
  --text-tertiary-color: rgba(150, 150, 150);
  --text-active-color: rgba(24, 24, 24);

  /* Padding */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;

  /* Margin */
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 3rem;

  /* gutter */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 3rem;

  /* font Size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  /* Border radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.5rem;
}
